body {
  background-color: OldLace;
}

th {
  padding: 50px;
  margin: 0px;
  border: 2px solid Black;
}

h1{
  background-color: lightCoral;
  color: white;
}

.addedTableInputs {
  font-size: 16px;
  font-weight: bold;
}

.entireTable{
  width: 100%;
  height: 30px;
  border: 2px solid Black;
}

td {
  width: 100%;
  border: 2px solid black;

}

.newFormat{
  width: 100%;
  border: 2px solid black;
}

#firstNameInput {
  border: 2px outset grey;
}

#lastNameInput {
  border: 2px outset grey;
}

#idNumInput{
  border: 2px outset grey;
}

#titleInput {
  border: 2px outset grey;
}

#salaryInput {
  border: 2px outset grey;
}

#monthlyFace{
  text-align: right;
  background-color: lightCoral;
  color: white;
}

.headerEmployee{
  background-color: lightCoral;
  color: white;
}

.tableLable{
  background-color: lightCoral;
  color: white;
}
